body {
    background-color: #242424;
    font-family: sans-serif;
}

.header {
    background-color: #171717;
    padding: 1rem 0;
}
.header .judul {
    font-weight: 500;
    font-size: 1rem;
}
.header .judul a {
    text-decoration: none;
    color: #EDEDED;
}

.hero {
    background-color: #171717;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .container {
    text-align: center;
}
.hero .judul {
    font-weight: 700;
    font-size: 4rem;
    color: #EDEDED;
}
.hero .horizontal-line {
    width: 70%;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: #DA0037;
    margin: auto;
}
.hero .deskripsi {
    color: #EDEDED;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.p {
    background-color: #171717;
    padding: 5rem 0;
    color: #EDEDED;
}
.p .judul {
    font-weight: 500;
    font-size: 2rem;
}
.p .deskripsi {
    margin-left: 2rem;
    line-height: 2rem;
    text-align: justify;
}
.p .gambar {
    margin-top: 1rem;
    text-align: center;
}
.p .gambar img {
    width: 80%;
    height: auto;
    border-radius: 1rem;
    margin: auto;
}
.p .carousel-caption {
    color: white;
    font-weight: 700;
}
.p .stack {
    margin-top: 1rem;
}
.p .stack .posisi {
    font-weight: 500;
    font-size: 2rem;
}
.p .stack .judul-stack {
    font-weight: 500;
    font-size: 2rem;
}
.p .stack-items {
    margin-left: 2rem;
    margin-top: 1rem;
}
.p .stack .stack-item {
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.p .stack .stack-item .nama-item {
    width: 30%;
}
.p .stars {
    display: flex;
    align-items: center;
}
.p .star {
    background-color: greenyellow;
    padding: 0.8rem;
    border-radius: 50%;
    width: fit-content;
    margin: 0 0.3rem;
}
.p .not-star {
    background-color: red;
    padding: 0.8rem;
    border-radius: 50%;
    width: fit-content;
    margin: 0 0.3rem;
}
.p .button {
    margin-top: 2rem;
}